.TextField {
  position: relative;
}

.TextField-Label {
  font-size: 13px;
  font-weight: bold;
  font-family: "Open Sans Semibold", sans-serif;
}

.TextField-Input {
  &.form-control {
    height: 35px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    font-size: 14px;

    &::placeholder {
      color: #898989;
    }
  }
}